body{
	background-color: #202124;
	justify-content: center;
}
h1{
	text-align: center;
	color: white;
	width: 800px;
}
h2{
	text-align: center;
	color: white;
	width: 800px;
}
p {
	text-align: center;
	color: white;
	width: 1000px;
}
.links{
	text-align: center;
	width: 800px;
	color: blue;
}
.article-title {
    font-size: 24px;
    color: yellow;
}

.article-summary {
    font-size: 16px;
    color: white;
}

.article-image {
    width: 100%;
    height: auto;
}
.article-date {
    font-size: 12px;
    color: gray;
    font-style: italic;
}
.article a {
    text-decoration: none;
    color: inherit;
}

.article a:hover, .article a:active {
    color: inherit;
}
/* CSS for desktop devices */
@media only screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .article {
        width: 33.33%;
        padding: 10px;
    }
}
/* CSS for mobile devices */
@media only screen and (max-width: 767px) {
    .container {
        display: block;
    }

    .article {
        padding: 10px;
    }
}