body{
	background-color: #202124;
	font-family: Verdana;
	max-width: 100%;
}
h1{
	text-align: center;
	color: white;
}
h2{
	text-align: center;
	color: white;
}
p {
	text-align: center;
	color: white;
}
.titel{
	margin-top: 1em;
	margin-bottom: 0em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.tops{
	position: fixed;
	justify-content: center;
	text-align: center;
	padding-top: 0;
	top: 0;
	margin-top: 0;
	left:0;
	right: 0;
	z-index: 9999;
	display: inline-block;
	background-color: rgba(0, 60, 0, 0.7);
	width: 100%;
}
.links{
	margin-top: 1em;
	text-align: center;
	color: #ADD8E6;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1em;
	padding: 0;
}
.links a{
	text-decoration: none;
	color: inherit;
}
.links a:active{
	color: red;
}
.article-title {
    font-size: 45px;
    color: yellow;
	text-align: center;
}
.article-subtitle {
    font-size: 35px;
    color: yellow;
	text-align: center;
}
.article-subsubtitle {
    font-size: 25px;
    color: yellow;
	text-align: center;
}
.article-summary {
    font-size: 20px;
    color: white;
	font-style: italic;
	text-align: center;
}
.article-content{
	font-size: 18px;
	color: white;
	text-align: justify;
}
.article-image {
    width: 100%;
    height: auto;
	max-height: 60%;
}
.article-date {
    font-size: 12px;
    color: #C0C0C0;
    font-style: italic;
	text-align: center;
}
.article-formula{
	color: white;
	text-align: center;
}
.article-code{
	background-color: #f8f8f8;
	border: 1px solid blue;
	color: red;
	text-align: left;
	font-size: 16px;
	font-family: 'Courier New', monospace;
	margin-bottom: 15px;
	background-color: black;
}
.code{
	background-color: #999;
	border: 1px solid black;
	border-radius: 10px;
	padding: 0;
}
.code-title{
	color: black;
	text-align: left;
	font-family: Arial;
	font-size: 16px;
	margin: 0px;
	padding-left: 4em;
	padding-top: 5px;
	padding-bottom: 5px;
}
pre {
    counter-reset: line;
    display: inline-block;
    margin: 0;
    padding: 16px;
    white-space: pre-wrap;
}
code {
	position: relative;
}
code::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 2em;
    padding-right: 1em;
    text-align: right;
    color: green;
}
.article a {
    text-decoration: none;
    color: inherit;
}
.image-subtitle{
	font-size: 14px;
	color: #C0C0C0;
	font-style: italic;
}
.content {
	display: flex;
	flex-direction: column;
}
table{
	text-align: center;
	color: #d3d3d3;
	margin-left: 0;
}
caption{
	background-color: #3333FF;
	text-align: left;
}
th{
	background-color: #111199;
}
td{
	background-color: #2222DD;
}
table, th, td, caption{
	border: 2.5px solid #000066;
	border-collapse: collapse;
}
.around-table{
	background-color: #000066;
	border-radius: 0.75em;
	padding: 0.75em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-align: center;
	width: auto;
	display: block;
	overflow-x: auto;
}
/* CSS for desktop devices */
@media only screen and (min-width: 768px) {
    .container {
        display: flex;
		margin-top: 85px;
		justify-content: center;
		text-align: center;
		align-items: center;
    }

    .article {
		padding: 30px 0;
		text-align: center;
		justify-content: center;
		max-width: 80%;
    }
	.article-image {
		text-align: center;
		max-width: 45%;
		max-height: 30%;
		height: auto;
		width: auto;
	}
	.around-table{
		text-align: center;
		padding: 0.75em;
		max-width: 100%;
		width: 100%;
		overflow-x: auto;
	}
	table{
		max-width: 100%;
		overflow-x: scroll;
		width: 100%;
		display: table;
	}
	table, th, td{
		padding: 0.75em;
	}
	th, td{
		display: table-cell;
	}
	caption{
		font-size: 18px;
		padding-top: 0.75em;
		padding-left: 4em;
		padding-bottom: 0.75em;
	}
	th{
		font-size: 16px;
	}
	td{
		font-size: 14px;
	}
}
/* CSS for mobile devices */
@media only screen and (max-width: 767px) {
    .container {
        display: block;
		margin-top: 100px;
		text-align: center;
    }
	h1 {
		font-size: 1.75em;
	}
	.links{
		font-size: 0.9em;
	}
    .article {
        padding: 30px 0;
		text-align: center;
		max-width: 95%;
		margin-left: auto;
		margin-right: auto;
    }
	.article-image {
		max-width: 90%;
		max-height: 60%;
		height: auto;
		width: auto;
	}
	.around-table{
		text-align: left;
		padding: 0.1em;
		max-width: 100%;
		width: 100%;
		overflow-x: auto;
	}
	table{
		max-width: 100%;
		overflow-x: scroll;
		width: 100%;
		display: table;
	}
	table, th, td{
		padding: 0.15em;
	}
	caption{
		font-size: 16px;
		padding-top: 0.15em;
		padding-left: 4em;
		padding-bottom: 0.15em;
	}
	th{
		font-size: 14px;
	}
	td{
		font-size: 12px;
	}
}